---
import InfoCard from "./infoCard.astro";
---

<section class="flex flex-col w-full p-12 gap-8 border-r border-gray">
    <h1 class="font-semibold text-3xl">Experiencia</h1>
    <InfoCard 
        image="/deloitteLogo.webp" 
        imageAlt="Deloitte Logo" 
        title="Delivery Analyst" 
        empresa="Deloitte - Jornada Completa" 
        description="En Delivery Analyst Financial Crime and Fraud Prevention, trabajando con clientes y la herramienta Actimize"
        date="Abril 2024 - Jun 2024" 
    />
</section>