---
import "../styles/global.css";
import Header from "../components/Header.astro";
import DivisonAzul from "@/components/DivisonAzul.astro";
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Javier Chicano Portfolio</title>
  </head>
  <body>
    <Header />
    <slot />
    <DivisonAzul />
   <Analytics /> <!-- Vercel Analytics is included to track page views and user interactions. -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
  }
</style>
